@import "variables";

@mixin mobile-settings{
    h1,
    h2,
    h3 {
    font-family: $font-headline;
    }

    body {
        font-family: $font-paragraph;
    }

    h1 {
        color: $primary;
        font-size: $mobile-h1;
    }

    h2 {
        color: $accent2;
        font-size: $mobile-h2;
    }

    h3 {
        color: $accent4;
        font-size: $mobile-h3;
    }

    p {
        color: $accent4;
        font-size: $mobile-body;
    }

    a {
        color: $accent4;
    }

    .page-wrapper {
        background-color: rgba($accent3,0.7);
        // opacity: 0.7;
        margin: 4em 4em;
        padding: 2em 2em;
    }
    .page-wrapper:hover{
        background-color: rgba($accent3,0.8);
    }
}
@mixin desktop-settings{
    h1,
    h2,
    h3 {
    // font-family: $font-headline;
    }

    body {
        // font-family: $font-paragraph;
    }

    h1 {
        // color: $primary;
        font-size: $desktop-h1;
    }

    h2 {
        color: $accent2;
        font-size: $desktop-h2;
    }

    h3 {
        // color: $accent4;
        font-size: $desktop-h3;
    }

    p {
        // color: $accent4;
        font-size: $desktop-body;
    }

    a {
        // color: $accent4;
    }

    .page-wrapper {
        background-color: rgba($accent3,0.7);
        // opacity: 0.7;
        margin: 4em 4em;
        padding: 2em 2em;
    }
}

// @media only screen and (min-width:0px){
    
// } //MOBILE VIEW
// @media only screen and (min-width:768px){} //SMALL TABLET VIEW
// @media only screen and (min-width:992px){

// } //LARGE TABLET VIEW
// @media only screen and (min-width:1200px){} //DESKTOP VIEW