@import "variables";

@mixin mobile-organisms{
    .main footer {
        text-align: center;
        a {
            font-size: $desktop-footer;
        }
    }
    
    .page-wrapper {
        // margin: 2em;
        padding: 5px;
        margin: 5vw 15vw 5vw 5vw;
        border: 0em;
        display: grid;
        height: 95vh;
        overflow-y: scroll;
        grid-template-columns: repeat(6, 1fr);
        background-color: rgba(255,255,255,0.75);

        section.intro{
            // background-color: rgba(255,255,255,0.75);
            grid-column: 1 / 7;
            grid-row:1;
            margin-bottom: 5px;
            // margin: 0.25rem;
            // row-gap: 0.5rem;
        }
        div.main{
            // background-color: rgba(255,255,255,0.75);
            grid-column: 1 / 7;
            grid-row: 2 / 4;
            
            // margin: 0.5rem;
        }
        aside.sidebar{
            // padding: 5vw 0;
            padding: 5px;
            // margin-left: 50vh;
            background-color: rgba(0,0,255,1);
            grid-column: 1 / 7;
            grid-row:1/2;
            z-index:1;
            position:relative;
            overflow:hidden;
            top: 0;
            // perspective:(400px) rotate3d(0,1,0,0deg);
            // perspective: (400px) rotate3d(0,1,0,-180deg);
            div.wrapper{
                // background-color: rgba(255,255,255,0.75);
                // position: fixed;
                // height: 100vh;
                // width: 72.5vw;
                // top:0%;
                // left:0;
                // // margin-left: 72.5vw;
                // // left: 90%;
                // z-index:1;
                // // transition: margin-left 1s;
            }
            div.wrapper:hover {
                // margin-left: 14vw;
            }
        }
        // aside.sidebar:hover{
        //     div.wrapper{
        //         margin-left: 0;
        //     }
        // }
    
    }

    
    


}

@mixin desktop-organisms{
    .page-wrapper { 
        section.intro {
            // background-color: rgba(0,255,255,0.75);
        }        
        div.main {
            // background-color: rgba(255,0,255,0.75);
        }
        aside.sidebar {
            // background-color: rgba(255,255,0,0.75);
            grid-column: 5 / 7;
            div.wrapper{
                position:initial;
                margin-left:0;
            }
            div.wrapper:hover{
                // margin-left:0;
            }
        }
    }   
}


