@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nothing+You+Could+Do&display=swap');
// Fonts
$font-headline: 'Nothing You Could Do', serif;
$font-paragraph: 'Montserrat', sans-serif;
// Font Colors
$primary: #385155; //h1
$accent1: #D6AFC6; //a
$accent2: #53596F; //h2
$accent3: #E5E9F5; //semi-translucent background
$accent4: #5C7691; //h3, p
//Font Sizes
$desktop-h1: 7em;
$desktop-h2: 6em;
$desktop-h3: 5em;
$desktop-body: 3.5em;

$mobile-h1: 4em;
$mobile-h2: 3em;
$mobile-h3: 2em;
$mobile-body: 1.5em;

// Backgrounds
$background-desktop: "/images/cherry-blossom-desktop.jpg";
$background-mobile: "/images/cherry-blossom-phone.jpg";

