/* Error: Mixins may not contain mixin declarations.
 *     ,
 * 209 | @mixin desktop-molecules{
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   _molecules.scss 209:1  @import
 *   style.scss 4:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Mixins may not contain mixin declarations.\a     \2577 \a 209 \2502  @mixin desktop-molecules{\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   _molecules.scss 209:1  @import\a   style.scss 4:9         root stylesheet";
}
